:host {
    margin-top: 2rem;
  }
nav {
    background-color:black;
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
}
a{
    text-decoration: none;
    color:white
}
a:active, a:hover{
    color:orange
}
ul {
    list-style:none;
}
.header {
    color:#92643e;
    font-size: 30px;
    margin-top:1rem;
}
