mat-card {
    margin-top:2rem;
    width:100%;
}

.row-1 {
display:flex;
flex-direction:row;
justify-content: space-between;
}
mat-card-subtitle {
    display:flex;
    flex-direction:row;
    justify-content: space-between; 
}
.reserve-button{
    width:100px;
    height:40px;
}
h2{
    color:orangered
}
mat-card-actions {
    display:flex;
    justify-content: right;
}
@media only screen and (max-width:600px){
    mat-card-subtitle {
        display:flex;
        flex-direction:column;
        margin-top:1rem;
    }
}