<mat-card>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="enteredTitle" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]= "enteredDescription"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image</mat-label>
    <textarea matInput [(ngModel)]= "enteredImg"></textarea>
  </mat-form-field>
  <hr />
  <button mat-raised-button color="primary" (click)="onCreateCar()">
    Publish
  </button>
</mat-card>

