<mat-card>
  <form (submit)="onCreateCar(postForm)" #postForm="ngForm" required>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" name="title" ngModel />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput name="description" ngModel required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image</mat-label>
      <textarea matInput name="img" ngModel></textarea>
    </mat-form-field>
    <hr />
    <button mat-raised-button color="primary" type="submit" required>
      Publish
    </button>
  </form>
</mat-card>
