<mat-form-field appearance="fill" class="accent">
  <mat-label color="black">Sort By</mat-label>
  <select matNativeControl required (change)="sort($event)" color="accent">
    <option value="Relevance">Relevance</option>
    <option value="Low">Price Low to High </option>
    <option value="High">Price High to Low </option>
  </select>
</mat-form-field>
<mat-grid-list cols="2" rowHeight="2:2">
  <ul multi="true">
    <li *ngFor="let car of cars">
      <a [routerLink]="['/car',car.id]">
        <mat-card>
          <img mat-card-image src="{{ car.img }}" />
          <div class="info">
            <mat-card-title>
              <h1>{{ car.title }}</h1>
            </mat-card-title>
            <mat-card-subtitle>
              <h1 class="price">${{ car.price }}/day</h1>
            </mat-card-subtitle>
          </div>
        </mat-card>
      </a>
    </li>
  </ul>