:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}
mat-card-image {
  width: 100%;
  height: 500px;
}
mat-card-title {
  display: flex;
  justify-content: space-between;
}
mat-card {
  margin-top: 2rem;
}
mat-form-field {
  display: flex;
  margin-left: 2.5rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  .price {
    text-align: right;
    justify-content: center;
  }
  mat-form-field {
    display: flex;
    margin: 0 auto;
  }
  h1 {
    font-size: 20px;
  }
}
